body{
   font-size: 100%;
  line-height: 1.4em;
  font-family: helvetica;
  display: grid;
  grid-template-columns: 18em 1fr;
  grid-template-areas: 
    "navbar main"
    "navbar main";
}
#main-doc{
padding-left: 2.2em;
  padding-right: 2em;
}
#main-doc h2{
  font-size: 1.8em;
}
.main-section{
  grid-area: main;
  grid-row: auto;
  text-align: left;
}
p{
  padding-left: 0.7em;
}
code{
  background-color: rgba(150, 150, 150, 0.2);
}
pre{
  background-color: rgba(150, 150, 150, 0.2);
  margin: 1.4em;
  padding: 1.2em;
  white-space: pre-wrap;
}
.linkwrap{
  word-break: break-all;
}
#navbar{
  grid-area: navbar;
  height: 100%;
  border-right: 0.08em solid;
  margin-top: -0.5em;
}
nav ul{
  list-style-type: none;

}
.nav-link{
  text-decoration: none;
  color: black;
  cursor: pointer;
}
nav li{
padding: 0.3em 0 0.9em 1.5em;
  margin: -0.3em 0 0.6em -2.6em;
  width: 18em;
border-bottom: 1px solid;
}
#referencelist{
  border-bottom: none;
}
nav h2{
 margin-bottom: -0.25em;
  border-bottom: 1px solid;
  padding: 0 0 1em 0.9em;
}
nav div{
  position: fixed;
overflow-y: scroll;
  overflow-x: hidden;
  text-align: justify;
  height: 100%;
  width: 18.4em;
  left: 0;
  top: 0;
}
li{
  margin-bottom: 1em;
}
@media (min-height: 650px){
  nav div{
    overflow-y: hidden;
  }
}
@media (max-width: 800px){
  body{
   font-size: 100%;
  line-height: 1.7em;
  font-family: helvetica;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 
    "navbar"
    "main";
}
  nav div{
  position: static;
overflow-y: scroll;
  overflow-x: hidden;
  text-align: justify;
  height: 17em;
  width: 100%;
    
}
  #navbar{
  grid-area: navbar;
  height: 17em;
  border: 0.08em solid;
  margin: -0.5em -0.5em 0 -0.5em;
}
  nav li{
padding: 1em 0 0.6em 2.5em;
   margin: -0.3em 0 0 -2.6em;
  width: 100%;
border-bottom: 1px solid;
}
  nav h2{
   margin-bottom: -1em;
  border-bottom: 1px solid;
  padding: 0 0 1em 0;
    text-align: center;
  }
  #main-doc{
padding: 0 0.5em 0 0.5em;
}
  #main-doc h2{
    line-height: 1.4em;
  }
}
